html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
  text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
  position: relative;
  height: 100%;
  width: 100%;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
	font-family: 'Lato Regular';
	src: url('../fonts/Lato-Regular.ttf');
	src: url('../fonts/Lato-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lato Bold';
	src: url('../fonts/Lato-Bold.ttf');
	src: url('../fonts/Lato-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lato Black';
	src: url('../fonts/Lato-Black.ttf');
	src: url('../fonts/Lato-Black.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

$lato-regular: 'Lato Regular';
$lato-black: 'Lato Black';
$lato-bold: 'Lato Bold';

//default colors
$white: #FFFFFF;
$blue-1: #435877;
$blue-2: #009fe2;
$blue-3: #7fcff0;
$blue-4: #a1caff;
$cyan: #75f7db;
$gray-1: #7e8f9a;
$gray-2: #ededf7;
$magenta: #f13164;
$salmon: #fdb092;
$yellow: #fae822;
$pink: #f8d8ff;

//default font-sizes
$xs-size: 11px; //alert link
$sm-size: 12px; //alert text
$tx-size: 14px; //section text;
$bt-size: 16px; //button;
$md-size: 18px; //header text
$lg-size: 64px; //section title
$xl-size: 88px; //menu option
$xx-size: 104px; //header title

p, a{
  font-family: $lato-regular;
  font-size: $tx-size;
  color: $gray-1;
  line-height: 1.4;
  text-align: left;
}

//message
.message{
  p{
    font-size: $sm-size;
  }
  a{
    color: $blue-2;
    font-size: $xs-size;
    font-weight: bold;
    padding: 5px 0;
    letter-spacing: 0.25px;
    border-bottom: 1px solid $blue-2;
  }
}

//header
header{
  .h-title{
    font-family: $lato-black;
    font-size: $xx-size;
    color: $blue-1;
    line-height: 1;
  }
  p{
    font-size: $md-size;
    line-height: 1.25;
  }
}

//content
.c-title{
  font-family: $lato-black;
  font-size: $lg-size;
  color: $blue-1;
  line-height: 1;
}

.button{
  background-color: $blue-2;
  color: $white;
  font-size: $tx-size;
  font-family: $lato-regular;
  padding: 13px 30px;
  border-radius: 4px;
  border: none;
  display: inline-block;
  outline: 0;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  line-height: 1.5;
  -webkit-box-shadow: 0px 5px 40px -15px $blue-2;
  -moz-box-shadow: 0px 5px 40px -15px $blue-2;
  box-shadow: 0px 5px 40px -15px $blue-2;
}

section{
}
